.container{
    width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    .wrapper{
        padding: 0 48px;
        .home{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            p{
                font-size: 0.75rem;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
}